@import '@/styles/variables.module.scss';

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.input__wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;

	input {
		height: 36px;
		width: 270px;
		max-width: 270px;
		padding: 0 8px;
		border: 1px solid $gray;
		border-radius: 6px;

		&:focus {
			outline: none;
			border-color: $primary-color;
		}
	}

	label {
		font-size: 18px;
		font-weight: 500;
	}
}

.error__message {
	width: 270px;
	font-size: 14px;
	color: $error;
}
